<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Menu</title>
    <%- include('./components/dependencies_link') %>

</head>
<body>
    <%- include('./components/nav') %>

    <div>
          
    </div>

    <%- include('./components/dependencies_script') %>
</body>
</html>